html, body {
    height: 100%;
    width: 100%; 
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    display: flex; /* Uses flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden; /* Prevents scrolling on the entire page */
    background-color: #fcfcfd;
    color: #28303e;
}
textarea {
    width: 95%;
    height: 95%;
    resize: none;
    border: none;
    padding: 10px;           
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
    outline: none; 
    overflow: auto; /* Enables scrolling within the textarea if content overflows */
    background-color: #fcfcfd;
    color: #28303e;
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
    html, body, textarea {
        background-color: #28303e; /* Darker background */
        color: #fcfcfd; /* Lighter text */
    }
}